Edit event involves a crash

On my Fairphone 4 for 13/01/25 14:30 imported from Thunderbird Android email of 21/11/24 at 17:09.

+6

Same when click on `noname.ics` in email of 06/12/24 at 10:49.

Related to [Benjamin_Loison/Thunderbird/issues/99](https://codeberg.org/Benjamin_Loison/Thunderbird/issues/99).

On Xiaomi Mi A3 unable to edit 11/10/25 event of 8:00 which contrarily to my user https://pim.etesync.lemnoslife.com/pim/events is shown once instead of twice, twice being incorrect. Do not notice this twice issue on my Linux Mint 22.2 Cinnamon Framework 13 Thunderbird and my Fairphone 4 own LineageOS 22.2 with up-to-date EteSync. Which one of both Xiaomi Mi A3 sees. Maybe should not overlook the web interface due to [Benjamin_Loison/etesync-web/issues/29](https://codeberg.org/Benjamin_Loison/etesync-web/issues/29), as the event is a recurring one.

The Xiaomi Mi A3 is up-to-date as well as EteSync synchronization, *Force stop* and *Clear cache* does not help.

Calendar logs or `adb logcat` may help.

Do not have this issue with the previous day modified occurrence, but have the issue with the following day occurrence.

If hold the event:

<img width="720" height="1560" alt="Image" src="https://github.com/user-attachments/assets/a697ed75-799f-41ae-a66d-dd5ab51c7be7" />

```bash
adb logcat
```
<details>
<summary>Output:</summary>

```
...
--------- beginning of crash
10-11 19:02:43.333  4511  4511 E AndroidRuntime: FATAL EXCEPTION: main
10-11 19:02:43.333  4511  4511 E AndroidRuntime: Process: org.lineageos.etar, PID: 4511
10-11 19:02:43.333  4511  4511 E AndroidRuntime: com.android.calendarcommon2.EventRecurrence$InvalidFormatException: Invalid integer value: 15
10-11 19:02:43.333  4511  4511 E AndroidRuntime: FREQ=DAILY
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendarcommon2.EventRecurrence$PartParser.parseIntRange(EventRecurrence.java:689)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendarcommon2.EventRecurrence$ParseCount.parsePart(EventRecurrence.java:752)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendarcommon2.EventRecurrence.parse(EventRecurrence.java:627)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment.updateEvent(EventInfoFragment.java:1576)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment.-$$Nest$mupdateEvent(EventInfoFragment.java:0)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment$QueryHandler.onQueryComplete(EventInfoFragment.java:2436)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.calendar.AsyncQueryService.handleMessage(AsyncQueryService.java:357)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at android.os.Handler.dispatchMessage(Handler.java:109)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at android.os.Looper.loopOnce(Looper.java:232)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at android.os.Looper.loop(Looper.java:317)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at android.app.ActivityThread.main(ActivityThread.java:8934)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at java.lang.reflect.Method.invoke(Native Method)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:591)
10-11 19:02:43.333  4511  4511 E AndroidRuntime: 	at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:911)
...
```
</details>

Searching `"Invalid integer value"` in upstream issues and pull requests only return:

[Etar-Group/Etar-Calendar/issues/](https://github.com/Etar-Group/Etar-Calendar/issues){[1409](https://github.com/Etar-Group/Etar-Calendar/issues/1409),[1384](https://github.com/Etar-Group/Etar-Calendar/issues/1384)}

I suspect the string to be:

```
15
FREQ=DAILY
```

[Etar-Group/Etar-Calendar/issues/1409#issuecomment-1640162907](https://github.com/Etar-Group/Etar-Calendar/issues/1409#issuecomment-1640162907) mentions Thunderbird which I have not been using before the issue.

5 days ago the second most contributor:

I guess that *TU* stands for Tuesday in [Etar-Group/Etar-Calendar/issues/1409#issuecomment-3371098710](https://github.com/Etar-Group/Etar-Calendar/issues/1409#issuecomment-3371098710).

> According to [RFC 5545 (Section 3.3.10)

> Will try to make a PR if I have time.

In addition to above links I also have read [Etar-Group/Etar-Calendar/pull/1975](https://github.com/Etar-Group/Etar-Calendar/pull/1975).

[Etar-Group/Etar-Calendar/commit/c78ddf5b9d213764d873b3138b8fcfffe8b41518](https://github.com/Etar-Group/Etar-Calendar/commit/c78ddf5b9d213764d873b3138b8fcfffe8b41518) is the patch commit.

On 01/08/25 [Etar-Group/Etar-Calendar/releases/tag/v1.0.51](https://github.com/Etar-Group/Etar-Calendar/releases/tag/v1.0.51) is the last release according to [Etar-Group/Etar-Calendar/releases](https://github.com/Etar-Group/Etar-Calendar/releases).

I'm unsure that this patch would solve my issue, as 15 exceeds 7 days of the week.

[Etar-Group/Etar-Calendar/actions/runs/18386096838/job/52384792176](https://github.com/Etar-Group/Etar-Calendar/actions/runs/18386096838/job/52384792176)

[Etar-Group/Etar-Calendar/actions/runs/18386096838/artifacts/4230026886](https://github.com/Etar-Group/Etar-Calendar/actions/runs/18386096838/artifacts/4230026886)

Still have the issue with this updated APK.

I have the same issue on my Fairphone 4 own LineageOS 22.2.

I am able to edit from my Linux Mint 22.2 Cinnamon Framework 13 Thunderbird and it is correctly synchronized to the Xiaomi Mi A3. Then clicking this modified occurrence does not crash, but the following day one does.

Unclear how to correct at raw level this issue by hand. Should check in exported ICS if face this issue.

Do not have this issue with similar recurring events notably at 19:00 one with the same title and another with a different one.

If click on the following day event also have:

```
10-11 19:26:50.016  8505  8505 E AndroidRuntime: com.android.calendarcommon2.EventRecurrence$InvalidFormatException: Invalid integer value: 15
10-11 19:26:50.016  8505  8505 E AndroidRuntime: FREQ=DAILY
```

```bash
grep -w 15 'Benjamin and CENSORED.ics'
```
<details>
<summary>Output:</summary>

```
CENSORED
8543:RRULE:FREQ=DAILY;COUNT=15
8728:RRULE:FREQ=DAILY;COUNT=15
8729:RRULE:FREQ=DAILY;COUNT=15
```
</details>

<details>
<summary><i>VEVENT</i>:</summary>

```
BEGIN:VEVENT
CREATED:20251011T093840Z
LAST-MODIFIED:20251011T165735Z
DTSTAMP:20251011T165735Z
UID:XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;COUNT=15
X-MOZ-LASTACK:20251011T165735Z
DTSTART;TZID=Europe/Paris:20251005T190000
DTEND;TZID=Europe/Paris:20251005T200000
CLASS:PUBLIC
SEQUENCE:4
X-MOZ-GENERATION:3
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

`SUMMARY` corresponds the event facing the issue.

DuckDuckGo search `ICS "RRULE"`.

https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html

*Recurrence Rule*

> RRULE:FREQ=DAILY;COUNT=10

<details>
<summary>Output:</summary>

```
BEGIN:VEVENT
CREATED:20251010T235516Z
LAST-MODIFIED:20251011T172136Z
DTSTAMP:20251011T172136Z
UID:0591ffe6-dd0c-47a6-8b24-2d5e8187f48a
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;COUNT=15
RRULE:FREQ=DAILY;COUNT=15
X-MOZ-LASTACK:20251011T093849Z
DTSTART;TZID=Europe/Paris:20251006T080000
DTEND;TZID=Europe/Paris:20251006T090000
CLASS:PUBLIC
SEQUENCE:4
X-MOZ-GENERATION:7
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

Maybe the issue is this one having twice `RRULE`.

If I rename on Thunderbird the following day event as recurring, then it leads to the same `grep` output, but the renamed event is the one with 2 `RRULE`s.

Check if able to reproduce with an ad-hoc calendar with just the event.

Do not have the issue if import:

<img width="720" height="1560" alt="Image" src="https://github.com/user-attachments/assets/5f5d0beb-9fd5-44b8-ba43-12b81568522c" />

<img width="720" height="1836" alt="Image" src="https://github.com/user-attachments/assets/8de9e9a8-a529-4870-868b-227d0f5c33d8" />

<img width="720" height="1560" alt="Image" src="https://github.com/user-attachments/assets/d5a1092d-b0af-4350-b6be-3259c0e3e2d2" />

<img width="720" height="1560" alt="Image" src="https://github.com/user-attachments/assets/3c1f9207-3c45-4f5e-bbca-858f168b5b94" />

Delete event in Thunderbird.

Trying to import it again:

<img width="2256" height="1424" alt="Image" src="https://github.com/user-attachments/assets/4a7aef08-299d-427d-8423-4fa53441579d" />

I deleted all occurrences in Xiaomi Mi A3 Etar, but it seems that it also deleted previous manually modified occurrences, but do not have the issue anymore at least with both today and tomorrow occurrences.

On my Fairphone 4 LineageOS 23.2 Etar when open event today event (while should not be present as a few months old event) at 20:00:

```bash
adb logcat
```
<details>
<summary>Output excerpt:</summary>

```
--------- beginning of crash
02-27 14:33:16.955 30415 30415 E AndroidRuntime: FATAL EXCEPTION: main
02-27 14:33:16.955 30415 30415 E AndroidRuntime: Process: org.lineageos.etar, PID: 30415
02-27 14:33:16.955 30415 30415 E AndroidRuntime: com.android.calendar.calendarcommon2.EventRecurrence$InvalidFormatException: Invalid FREQ value: DAILY
02-27 14:33:16.955 30415 30415 E AndroidRuntime: FREQ=DAILY
02-27 14:33:16.955 30415 30415 E AndroidRuntime: FREQ=DAILY
02-27 14:33:16.955 30415 30415 E AndroidRuntime: FREQ=DAILY
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.calendarcommon2.EventRecurrence$ParseFreq.parsePart(EventRecurrence.java:727)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.calendarcommon2.EventRecurrence.parse(EventRecurrence.java:627)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment.updateEvent(EventInfoFragment.java:1573)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment.-$$Nest$mupdateEvent(EventInfoFragment.java:0)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.EventInfoFragment$QueryHandler.onQueryComplete(EventInfoFragment.java:2433)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.calendar.AsyncQueryService.handleMessage(AsyncQueryService.java:357)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at android.os.Handler.dispatchMessage(Handler.java:132)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at android.os.Looper.dispatchMessage(Looper.java:333)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at android.os.Looper.loopOnce(Looper.java:263)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at android.os.Looper.loop(Looper.java:367)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at android.app.ActivityThread.main(ActivityThread.java:9287)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at java.lang.reflect.Method.invoke(Native Method)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:566)
02-27 14:33:16.955 30415 30415 E AndroidRuntime: 	at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:929)
02-27 14:33:16.962  1624  1862 I ActivityTaskManager: Displayed org.lineageos.etar/com.android.calendar.EventInfoActivity for user 0: +120ms
```
</details>

Based on Thunderbird search day range.

21/11/2025 20:00
23/11/2025 20:00
24/11/2025 20:00
25/11/2025 20:00
26/11/2025 20:00
27/11/2025 20:00
28/11/2025 20:00
29/11/2025 20:00
30/11/2025 20:00

are the only ones leading to crash.

Then following days not in Thunderbird.

There is no such occurrences in Thunderbird.

<details>
<summary>ICS:</summary>

```ics
BEGIN:VEVENT
CREATED:20260227T133506Z
LAST-MODIFIED:20260227T133507Z
DTSTAMP:20260227T133507Z
UID:886c1ce3-b3f1-4975-b7ae-caf6109777cb
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;UNTIL=20251121T065959Z
DTSTART;TZID=Europe/Paris:20251119T080000
DTEND;TZID=Europe/Paris:20251119T090000
CLASS:PUBLIC
DESCRIPTION:CENSORED
SEQUENCE:1
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

<details>
<summary>ICS:</summary>

```ics
BEGIN:VEVENT
CREATED:20251121T092737Z
LAST-MODIFIED:20260227T133507Z
DTSTAMP:20260227T133507Z
UID:ebea706d-1afb-4bf1-9eea-b11660a6e564
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;UNTIL=20251121T185959Z
X-MOZ-LASTACK:20251120T215510Z
DTSTART;TZID=Europe/Paris:20251119T200000
DTEND;TZID=Europe/Paris:20251119T210000
CLASS:PUBLIC
DESCRIPTION:CENSORED
SEQUENCE:1
X-MOZ-GENERATION:5
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

<details>
<summary>ICS:</summary>

```ics
BEGIN:VEVENT
CREATED:20260227T133506Z 
LAST-MODIFIED:20260227T133507Z
DTSTAMP:20260227T133507Z
UID:9fd113c1-caaf-4675-aff8-c62a46f092ce
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;UNTIL=20251121T105959Z
X-MOZ-LASTACK:20251120T110334Z
DTSTART;TZID=Europe/Paris:20251119T120000
DTEND;TZID=Europe/Paris:20251119T130000
CLASS:PUBLIC
DESCRIPTION:CENSORED
SEQUENCE:1
X-MOZ-GENERATION:2
X-MOZ-SNOOZE-TIME-1763636400000000:20251120T110834Z
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

<details>
<summary>ICS:</summary>

```ics
BEGIN:VEVENT
CREATED:20251122T070219Z
LAST-MODIFIED:20260227T133507Z
DTSTAMP:20260227T133507Z
UID:8e51190e-3968-4757-939b-e7ec4616ec6a
SUMMARY:CENSORED
STATUS:CONFIRMED
RRULE:FREQ=DAILY;UNTIL=20251201T055959Z
X-MOZ-LASTACK:20251122T070735Z
DTSTART;TZID=Europe/Paris:20251121T080000
DTEND;TZID=Europe/Paris:20251121T090000
CLASS:PUBLIC
DESCRIPTION:CENSORED
SEQUENCE:3
X-MOZ-GENERATION:2
BEGIN:VALARM
ACTION:DISPLAY
TRIGGER:-PT5M
DESCRIPTION:CENSORED
END:VALARM
END:VEVENT
```
</details>

I do not notice any relevant change.

Just changing these events via Thunderbird to hidden calendar would still make them present if temporarily show the hidden calendar, so it is not satisfying too.

Even deleting is not trivial as they are not shown in Thunderbird.

While I am thinking that there must a single event recurring to involve still having the event nowadays, as it is only present once a day. Figuring which one would be nice.

Using [Benjamin_Loison/etesync_android/issues/26#issuecomment-10998176](https://codeberg.org/Benjamin_Loison/etesync_android/issues/26#issuecomment-10998176):

<details>
<summary>Python script:</summary>

```python
for event in calendar.walk('VEVENT'):
    if event['SUMMARY'] == 'CENSORED':
        print(event['uid'], event['DTSTART'].dt)
```
</details>
<details>
<summary>Output:</summary>

```
886c1ce3-b3f1-4975-b7ae-caf6109777cb 2025-11-19 08:00:00+01:00
9fd113c1-caaf-4675-aff8-c62a46f092ce 2025-11-19 12:00:00+01:00
ebea706d-1afb-4bf1-9eea-b11660a6e564 2025-11-19 20:00:00+01:00
ebea706d-1afb-4bf1-9eea-b11660a6e564 2025-11-20 23:12:00+01:00
28bfe48a-443e-4ea0-91a6-0da99dc2f77e 2025-11-21 20:00:00+01:00
28bfe48a-443e-4ea0-91a6-0da99dc2f77e 2025-11-22 21:35:00+01:00
8e51190e-3968-4757-939b-e7ec4616ec6a 2025-11-21 08:00:00+01:00
8e51190e-3968-4757-939b-e7ec4616ec6a 2025-11-21 11:56:00+01:00
8e51190e-3968-4757-939b-e7ec4616ec6a 2025-11-25 16:58:00+01:00
```
</details>

<details>
<summary>Python script:</summary>

```python
for event in calendar.walk('VEVENT'):
    if event['SUMMARY'] == 'CENSORED':
        eventDTStart = event['DTSTART'].dt
        if eventDTStart.time() == datetime.time(20, 0):
            print(event['uid'], eventDTStart)
```
</details>
<details>
<summary>Output:</summary>

```
ebea706d-1afb-4bf1-9eea-b11660a6e564 2025-11-19 20:00:00+01:00
28bfe48a-443e-4ea0-91a6-0da99dc2f77e 2025-11-21 20:00:00+01:00
```
</details>

As 19/11/2025 does not crash, `28bfe48a-443e-4ea0-91a6-0da99dc2f77e` seems to blame.

Thunderbird export does not mention it, that's why it is not in the calendar I guess.

<details>
<summary>ICS:</summary>

```ics
BEGIN:VEVENT
SUMMARY:CENSORED
DTSTART;TZID=Europe/Paris:20251121T200000
DTEND;TZID=Europe/Paris:20251121T210000
DTSTAMP:20251126T193331Z
UID:28bfe48a-443e-4ea0-91a6-0da99dc2f77e
RRULE:FREQ=DAILY
RRULE:FREQ=DAILY
RRULE:FREQ=DAILY
RRULE:FREQ=DAILY
CLASS:PUBLIC
CREATED:20251122T070219Z
DESCRIPTION:CENSORED
LAST-MODIFIED:20251126T193331Z
STATUS:CONFIRMED
X-MOZ-GENERATION:56
X-MOZ-LASTACK:20251126T193331Z
X-MOZ-SNOOZE-TIME-1764183600000000:20251126T193831Z
BEGIN:VALARM
ACTION:DISPLAY
DESCRIPTION:CENSORED
TRIGGER:-PT5M
END:VALARM
BEGIN:VALARM
ACTION:DISPLAY
DESCRIPTION:CENSORED
TRIGGER:-PT5M
END:VALARM
BEGIN:VALARM
ACTION:DISPLAY
DESCRIPTION:CENSORED
TRIGGER:-PT5M
END:VALARM
BEGIN:VALARM
ACTION:DISPLAY
DESCRIPTION:CENSORED
TRIGGER:-PT5M
END:VALARM
END:VEVENT
```
</details>

weird multiple `RRULE:FREQ=DAILY` match above crash logs.

<details>
<summary>Python script:</summary>

```python
eventURL = f'{CALENDAR_URL}/28bfe48a-443e-4ea0-91a6-0da99dc2f77e.ics'

response = requests.delete(eventURL, auth=(USER, PASSWORD))

print('Status Code:', response.status_code)
print('Response:', response.text)
```
</details>
<details>
<summary>Output:</summary>

```
Status Code: 404
Response: The requested resource could not be found.
```
</details>

[Benjamin_Loison/etesync_android/issues/26#issuecomment-10998296](https://codeberg.org/Benjamin_Loison/etesync_android/issues/26#issuecomment-10998296) does not have this issue.

https://docs.etebase.com/guides/using_items#fetch-by-uid
https://docs.etebase.com/guides/using_items#modifying-and-deleting-items

<details>
<summary>Error:</summary>

```
Traceback (most recent call last):
  File "<tmp 3>", line 23, in <module>
    item = itemManager.fetch(UID)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "/home/benjamin_loison/venv/lib/python3.12/site-packages/etebase/__init__.py", line 273, in fetch
    return Item(self._inner.fetch(col_uid, _inner(fetch_options)))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
etebase_python.Error: Server error
```
</details>

No matter if use the event UID I want to delete or a testing existing event one.

```python
items = itemManager.fetch_multi([UID])
print(list(items.data))
```
```python
[]
```

```python
help(item)
```
<details>
<summary>Output:</summary>

```
Help on ItemListResponse in module etebase object:

class ItemListResponse(builtins.object)
 |  ItemListResponse(inner: etebase.etebase_python.ItemListResponse)
 |
 |  Methods defined here:
 |
 |  __init__(self, inner: etebase.etebase_python.ItemListResponse)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  data
 |
 |  done
 |
 |  stoken
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
```
</details>

```python
help(event)
```
<details>
<summary>Output:</summary>

```
Help on Item in module etebase object:

class Item(builtins.object)
 |  Item(inner: etebase.etebase_python.Item)
 |
 |  Methods defined here:
 |
 |  __init__(self, inner: etebase.etebase_python.Item)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  delete(self)
 |
 |  verify(self)
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  deleted
 |
 |  etag
 |
 |  missing_content
 |
 |  uid
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  content
 |
 |  meta
 |
 |  meta_raw
```
</details>

<details>
<summary>Python script:</summary>

```python
from etebase import Client, Account, FetchOptions

ETEBASE_URL = 'https://etesync.lemnoslife.com'
USERNAME = 'Benjamin_Loison'
PASSWORD = 'CENSORED'
CALENDAR_NAME = 'Personal'
UID = '79841071-ee86-4726-96a6-91d94305c14d'

client = Client('client-name', ETEBASE_URL)
etebase = Account.login(client, USERNAME, PASSWORD)

collectionManager = etebase.get_collection_manager()
collections = collectionManager.list('etebase.vevent')

for collection in list(collections.data):
    if collection.meta['name'] == CALENDAR_NAME:
        itemManager = collectionManager.get_item_manager(collection)
        break
else:
    print(f'Calendar {CALENDAR_NAME} not found!')
    exit(1)

events = list(itemManager.list(FetchOptions().limit(100_000)).data)
print(f'{len(events)}')
for event in events:
    if event.meta['name'] == '28bfe48a-443e-4ea0-91a6-0da99dc2f77e':
        print(event.uid)
        break
    #break
event.delete()
itemManager.batch([event])
```
</details>

correctly deletes the issue.

Without `FetchOptions().limit` get only 50 events.

`itemManager.batch([event])` returns `None`, even if run again.

Related to [Benjamin_Loison/etebase-py/issues/3](https://codeberg.org/Benjamin_Loison/etebase-py/issues/3).

`~/.local/share/etesync-dav/etebase_data.db` may have helped.